body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #f0f8f5;
  color: #333;
}

.container {
  margin-top: 60px;
}

#preview {
  width: 250px;
  margin-top: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #34a853;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #2c8f47;
}
